# MQTT Broker Configuration
MQTT_BROKER=broker.emqx.io
MQTT_PORT=1883
MQTT_TOPIC=flutter/sensors/2
MQTT_USERNAME=tu_usuario
MQTT_PASSWORD=tu_contraseña

# MQTT Reconnection Settings
MQTT_FIRST_RECONNECT_DELAY=1
MQTT_RECONNECT_RATE=2
MQTT_MAX_RECONNECT_COUNT=12
MQTT_MAX_RECONNECT_DELAY=60
